.header-section {


    background: rgba(255, 144, 14, 0.1);
    ;
    font-family: 'Work Sans';
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 140px;
    margin-right: 140px;
    padding-top: 50px;


}

.header-sub-title {

    font-weight: 700;
    font-size: 45px;
    width: 302px;
    height: 53px;
    color: #131313;
    font-size: 45px;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@700&display=swap');

}

.nav-bar {
    display: flex;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    gap: 20px;
}


.more-header{

    text-align: center;
}
.more-header-title{

    font-weight: 700;
font-size: 64px;
line-height: 75px;
color: #131313;
}

.more-header-info{

    font-weight: 400;
font-size: 16px;
color: #727272;
padding: 5px;
}

button{
    background: #FF900E;
    border-radius: 8px;
background: #FF900E;
border-radius: 8px;
border:0;
font-weight: 200px;
font-size: 20px;
color: #FFFFFF;
}
.header-banner{

    width: 1440px;
height: 700px;
border-radius: 8px;

    display:block;
    margin-left: auto;
    margin-right: auto;

}