

.header-section {


    background: rgba(255, 144, 14, 0.1);
    ;
    font-family: 'Work Sans';
   
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 140px;
    margin-right: 140px;
    padding-top: 50px;


}

.header-sub-title{

    font-weight: 700;
    font-size: 45px;
    width: 302px;
    height: 53px;
    color: #131313;
    font-size: 45px;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@700&display=swap');

}

.nav-bar {
    display: flex;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    gap: 20px;
}


.more-header{

    text-align: center;
}
.more-header-title{

    font-weight: 700;
font-size: 64px;
line-height: 75px;
color: #131313;
}

.more-header-info{

    font-weight: 400;
font-size: 16px;
color: #727272;
padding: 5px;
}

button{
    background: #FF900E;
    border-radius: 8px;
background: #FF900E;
border-radius: 8px;
border:0;
font-weight: 200px;
font-size:2 20px;
color: #FFFFFF;
padding: 25px 20px;
}
.header-banner{
border-radius: 8px;
margin-top: 50px;
    display:block;
    margin-left: auto;
    margin-right: auto;

}

  @media screen and (max-width:576px) {
    .nav-bar{

        display: block;
        float: left;
        margin: auto;
    }
    .header-banner{
        width: 100%;
    }
  }

  .feature-image{
    display: grid;
    grid-template-columns: repeat(2,0fr);
    margin-top: 85px;
    margin-left: 70px;
    gap: 20px;
  }

 
.feature-description{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


  .feature-title{

    font-weight: 500;
font-size: 45px;
color: #727272;
  }
  .bold-text{

    color: #131313;
    font-weight: 700;
font-size: 45px;
  }
  .span{
    font-weight: 700;
font-size: 45px;
line-height: 53px;
  }
  .feature-info{

    font-weight: 400;
font-size: 16px;
color: #727272;
margin-top: 25px;
margin-bottom: 25px;
  }
  .feature{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feature-sub-description{
    margin-left: 30px;
  }

 @media screen and (max-width:576px) {
  .feature{

   display: grid;
   grid-template-columns: 1, 0fr;
  }

 }

 .our-features{

  display: flex;
  justify-content: space-around;
  margin: 30px 130px;
 }

 .our-features-title{
 font-weight: 700px;
 font-size: 45px;
 color: #131313;
 

 }

.our-features{

  justify-content: center;
  align-items: center;
}
 .our-features-sub-title{
  font-weight: 600px;
  font-size: 20px;
  color: #131313;
  padding: 5px;
 }
 
 .our-features-info{
  background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
  width: 586px;
  height: 171px;
  font-weight: 400;
font-size: 16px;
color: #727272;
padding: 30px;
 }

 .our-features-img{
  
  position: relative;
  

 }
 .our-features img{
  border-radius: 5px;
  width: 708px;
  height: auto;

 }
 .feature-btn{
padding: 40px;
  width: 342px;
height: 200px;

font-weight: 70px;
font-size: 30px;

position: absolute;
bottom:1%;
left: 5%;
transform: translate(-2%,-1%);

 }

@media screen and(max-width:576px) {

 .our-features-img{
display: flex;
  flex-direction: column;
 } 


}


.facts-info{
  width: 586px;
  height: 171px;
  font-weight: 400;
font-size: 16px;
color: #727272;

}
.facts{

  font-weight: 600px;
  font-size: 20px;
  color: #131313;
  
}

.facts-title{
display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}

@media screen and(max-width:576px) {
.facts-items{

display: grid;
grid-template-columns: repeat(1,0fr);
}
}



.sponsors{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sponsors-title{

  font-weight: 700;
font-size: 45px;
color: #131313;
}
.sponsors-info{
  font-weight: 400;
font-size: 16px;
color: #727272;
}

.sponsors-img{

  display: flex;
  justify-content: space-around;
  margin-bottom: 130px;
  
}
  .footer-text{
  background-color: #FF900E;
  margin: 5px;
    width: 1440px;
height: 40px;
text-align: center;
padding: 50px;
font-weight: 400;
font-size: 20px;
color: #424242;
background: #FFF4E7;
border-radius: 8px;

  }
  .footer{

    display: flex;
    justify-content: center;
    align-items: center;
  }